<table>
    <thead>
        <tr>
            <th>Usuario/Correo</th>
            <th>Contraseña</th>
            <th>Ubicación</th>
            <th>Otros Datos</th>
            <th>Operaciones</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let dat of dataView[pagina]">
            <td> <p>{{dat.usuario_correo}}</p> </td>
            <td> <p>{{dat.password}}</p> </td>
            <td> <p>{{dat.ubicacion}}</p> </td>
            <td> <p>{{dat.otros_datos}}</p></td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-orange"(click)="update(dat)">
                        <i class="fa fa-pencil custom-animation"></i>
                    </button>
                    <button class="btn btn-red" (click)="delete(dat.id)">
                        <i class="fa fa-trash" ></i>
                    </button>
                    <button class="btn btn-principal" (click)="view(dat)">
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
              
            </td>
        </tr>
    </tbody>
</table>
<div class="">
    <ul>
        <li><button class="btn btn-principal" [disabled]="paginaAnterior===0" (click)="primero()"><i
                    class="fa fa-step-backward"></i></button></li>
        <li><button class="btn btn-principal" [disabled]="paginaAnterior===0" (click)="anterior()"><i
                    class="fa fa-backward"></i></button></li>
        <li *ngFor="let i of todasPaginas"><button class="btn btn-principal"
                [ngClass]="{'selected' : i-1===pagina}" (click)="changePagina(i-1)">{{i}}</button></li>
        <li><button class="btn btn-principal" [disabled]="paginaPosterior===paginas-1" (click)="posterior()"><i
                    class="fa fa-forward"></i></button></li>
        <li><button class="btn btn-principal" [disabled]="paginaPosterior===paginas-1" (click)="ultimo()"><i
                    class="fa fa-step-forward"></i></button></li>
    </ul>
</div>
<app-view *ngIf="viewElement"></app-view>
<app-editor *ngIf="viewEditor"></app-editor>