.login {
    &-body {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: radial-gradient(#3498DB, #85C1E9);
    }

    &-container {
        width: 500px;
        height: auto;
        background-color: white;
        box-sizing: border-box;
        padding: 2rem;
        border-radius: 2rem;
    }

}
a{
    color: #3498DB;
    text-align: center;
    text-decoration: none;
}
