.layout {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: .5);
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animacion 1s linear;

}

.dialog {
    background-color: white;
    width: 500px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    opacity: 0;
    animation: animacion-1 1s ease-in-out forwards;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 36px;
    width: 36px;
    font-size: 24px;
    color: white;
    background-color: #E74C3C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease-in-out;

    &:hover {
        background-color: darken($color: #E74C3C, $amount: 15);
    }
}

.cerrar {
    animation: animacion-2 1s ease-in-out forwards;
}

.cerrar-1 {
    animation: animacion-3 1s ease-in-out forwards;
}

@keyframes animacion {
    0% {
        background-color: transparent;
    }

    25% {
        background-color: rgba($color: #000000, $alpha: .2);
    }
    50% {
        background-color: rgba($color: #000000, $alpha: .3);
    }
    75% {
        background-color: rgba($color: #000000, $alpha: .4);
    }

    100% {
        background-color: rgba($color: #000000, $alpha: .5);
    }


}

@keyframes animacion-1 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }


}

@keyframes animacion-2 {
    0% {
        background-color: rgba($color: #000000, $alpha: .5);

    }

    100% {
        background-color: transparent;
    }
}

@keyframes animacion-3 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}