<div class="layout">
    <div class="dialog">
        <div class="close" (click)="close()">
            <i class="fa fa-times"></i>
        </div>

        <div class="dialog-header">
            <h2 class="title">Añadir key</h2>
        </div>
        <div class="dialog-body">
            <form action="" class="formulario">
                <label for="">Usuario o Correo:</label>
                <input type="text" placeholder="Pon aqui tu contraseña o tu usuario">
                <label for="">Contraseña</label>
                <div class="input-eyes">
                    <input [type]="tipo" placeholder="Pon tu contraseña" id="password">
                    <i class="fa" [ngClass]="{'fa-eye': !ver, 'fa-eye-slash' : ver }" (click)="verPassword()"></i>
                </div>
                <label for="">Ubicación</label>
                <input type="text" placeholder="¿Donde pertenece esta contraseña?">
                <label for="">Otros Datos</label>
                <textarea></textarea>
                <div class="btn-group">
                    <button class="btn btn-red">Cancelar</button>
                    <button type="submit" class="btn btn-green">Añadir</button>
                </div>

            </form>
        </div>
    </div>
</div>