<div class="layout">
    <div class="dialog">
        <div class="close" (click)="close()">
            <i class="fa fa-times"></i>
        </div>
        <div class="dialog-body">
            <h2 class="title">Bienvenido Sakey</h2>
            <ng-container *ngIf="key">
                <label for="">Usuario o Correo:</label>
                <input type="text" name="" [value]="key.usuario_correo" disabled>
                <label>Contraseña:</label>
                <div class="input-eyes">
                    <input type="text" [value]="this.password" disabled>
                    <i class="fa" [ngClass]="{'fa-eye': !ver, 'fa-eye-slash' : ver }" (click)="verPassword()"></i>
                </div>
                <label for="">Ubicación:</label>
                <input type="text" [value]="key.ubicacion" disabled>
                <label>Otros datos:</label>
                <textarea name="" id="" cols="30" rows="10" disabled>{{key.otros_datos}}</textarea>
            </ng-container>


        </div>
    </div>
</div>