$blanco : white;
$rojo : #E74C3C;
$rojo-claro : #F5B7B1;
$azul : #3498DB;
$azul-claro : #85C1E9;
$azul-oscuro: #34495E;
$gris-claro: #D0D3D4;
$gris : #A6ACAF;
$amarillo : #D4AC0D;
$verde : #28B463;
$verde-claro:#7DCEA0;
$negro : black;




